body {
    background-color: white;
}

/*Page Title Style*/
.title {
    color: black;

    font-size: 74px;

    margin-left: 26vw;
    margin-right: 26vw;

    /*margin-left: 680px;
    margin-bottom: 30px;
    */
}

/*Page Subtitle Style*/
.subtitle {
    color: black;
    
    font-size: 55px;
    
    margin-left: 26vw;

    /*margin-left: 680px;
    margin-bottom: 5px;
    */
}

/*Page Subtitle2 Style*/
.subtitle2 {
    color: black;

    font-size: 40px;

    margin-left: 26vw;
    
    /*margin-left: 680px;
    margin-bottom: 5px;
    */
}

/*Plain Text*/
.text {
    color: black;
    
    font-size: 20px;

    margin-left: 26vw;
    margin-right: 26vw;

    /*margin-right: 780px;
    margin-left: 680px;
    */

    margin-top: 5px;
    line-height: 28px;
}

.hyperlink {
    color: green;
    text-decoration: none;
}

#first {
    margin-left: 730px;
}